<h2>Welcome, <%= current_user.name %></h2>
<br>
<div class="row">
  <% current_user.games.each do |game| %>
    <div class="col-sm-3">
      <div class="well">
        <h3><%= game.name %></h3>
        <h4><%= game.complete? ? "Ready to Play" : "Work in Progress" %></h4>
        <div class="progress progress-striped">
          <div class="progress-bar progress-bar-success" style="width: <%= game.percent_complete %>"></div>
        </div>
        <%= link_to "play", game_play_url(game), class: "btn" if game.complete? %>
        <%= link_to "edit", game, class: "btn"%>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New Game", new_game_path, class: "btn btn-default" %>
