<h1>Create New Game</h1>

<%= bootstrap_form_for @game do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <% 6.times do |i| %>
      <div class="col-sm-2">
        <label><%= "Category #{i + 1}" %></label>
        <%= text_field_tag "game[category][]", "", class: "form-control" %>
      </div>
    <% end %>
  </div>
  <br>
  <%= f.submit "Create" %>
<% end %>
