<h1 class="text-center"><%= @game.name %> 
  <% if @game.complete? %>
    <%= link_to "Play Game", game_play_path(@game), class: "btn btn-default", style: "margin-bottom: 5px;" %>
  <% end %>
</h1>
<br>
<div class="row">
  <% @game.categories.each do |category| %>
  
    <div class="col-sm-2">
      <div class="well">
        <h3 class="text-center"><%= category.name %></h3>
      </div>
      <%= bootstrap_form_for [category, category.answers.build] do |answer| %>
        <%= answer.text_field :content, label: "Add Answer" %>
        <%= answer.submit "Add Answer" %>
      <% end %>
      <h3>Answers</h3>
      
      <% category.answers.each do |answer| %>
        <% if !answer.new_record? %> 
          <div class="well">
            <h5><%= answer.content %></h5>
            <%= link_to "Delete", answer_path(answer), method: :delete, data: { confirm: "Are you sure?" } %>
          </div>
        <% end %>
      <% end %>
      
    </div>
  <% end %>
</div>
